
*.html
html/site/img/test04.png
*.png
*.jpg
*.svg
*.css
*.eot
*.woff2
*.woff
*.ttf
html/assets/.DS_Store
*.otf
html/assets/ico/.DS_Store
*.ico
*.db
html/assets/img/.DS_Store
*.gif
*.js
html/class/.DS_Store
*.md
*.scss
html/refer-javascript/assets/.DS_Store
html/refer-javascript/assets/ico/.DS_Store
html/refer-javascript/assets/img/.DS_Store
