@charset "UTF-8";

//webfonts
@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'NEXONLv2Gothic';
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'NEXONLv2Gothic';
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'NEXONLv2Gothic';
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: "S-CoreDream";
    font-weight: 100;
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "S-CoreDream";
    font-weight: 200;
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "S-CoreDream";
    font-weight: 300;
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "S-CoreDream";
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "S-CoreDream";
    font-weight: 500;
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "S-CoreDream";
    font-weight: 600;
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "S-CoreDream";
    font-weight: 700;
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "S-CoreDream";
    font-weight: 800;
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "S-CoreDream";
    font-weight: 900;
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff") format("woff");
    font-style: normal;
}

/* 에스코어 드림 - 9개 */

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 100;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 200;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 600;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 800;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 900;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-style: normal;
}

// reset
/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
    margin: 0;
    padding: 0
}

//a
a {
    color: #000;
    text-decoration: none;
}

//variable
$font-Six: 'Six Caps';
$font-Nexon1: 'NEXONLv1Gothic';
$font-Nexon2: 'NEXONLv2Gothic';

$gradient1: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%);
$gradient2: linear-gradient(to top, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
$gradient3: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
$gradient4: linear-gradient(to top, #00dbde 0%, #fc00ff 100%);
$gradient5: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
$gradient6: linear-gradient(to bottom, #231557 0%, #44107A 29%, #FF1361 88%, #fff700dc 100%);

$text1: linear-gradient(to bottom, #8200c9, #33004e);
$text2: linear-gradient(to top, #a03136 0%, #2400f0 100%);
$text3: linear-gradient(to top, #800006 0%, #e2cb00 100%);
$text4: linear-gradient(to top, #f43b47 0%, #453a94 100%);
$text5: linear-gradient(to top, #0250c5 0%, #1f0412 100%);
$text6: linear-gradient(to bottom, #232526 0%, #414345 100%);

//@mixin
@mixin positionCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin fixed {
    position: fixed;
    left: 0;
    top: 0;
}
@mixin content {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}

//agent
.iphone main {
    padding: 10px;
}
.android main {
    padding: 10px;
}

//bg
.bg {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &::before {
        @include content;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    &.blue {
        &::before {
            background-color: #41088b59;
        }
    }

    &.brown {
        &::before {
            background-color: rgba(50, 37, 11, 0.8);
        }
    }

    &.white {
        &::before {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
}

@for $i from 1 through 40 {
    .bg#{$i} {
        background-image: url(../img/bg#{$i}@2.jpg);
    }
}

//main
#main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #11e8bb;
    background: $gradient1;

    &.menu {
        background: $gradient2;

        & #contents h1 {
            background-image: $text2;
        }
    }

    &.mouse {
        background: $gradient3;

        & #contents h1 {
            background-image: $text3;
        }
    }
    &.slider {
        background: $gradient4;

        & #contents h1 {
            background-image: $text4;
        }
    }
    &.parallaxMain {
        background: $gradient5;

        & #contents h1 {
            background-image: $text5;
        }
    }
    &.game {
        background: $gradient6;

        & #contents h1 {
            background-image: $text6;
        }
    }
}
#contents {
    h1 {
        @include positionCenter();
        font-size: 10vw;
        white-space: nowrap;
        font-family: $font-Six, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1vw;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: $text1;
    }
}
#nav {
    @include positionCenter();
    bottom: 10px;
    top: auto;
    
    li {
        list-style: none;
        display: inline;

        a {
            color: #fff;
            text-decoration: none;
            width: 100px;
            height: 50px;
            line-height: 50px;
            border: 1px solid #fff;
            display: inline-block;
            border-radius: 50px;
            font-size: 14px;
            text-align: center;
            margin: 4px;
            font-family: $font-Nexon1;
            box-shadow: inset 0 0 0 #fff;
            transition: all 0.4s;

            &:hover {
                box-shadow: inset 0 -100px 0 #fff;
                color: #6c4a70;
            }
        }
    }
}

//info
.info {
    color: #fff;
    font-family: $font-Nexon1;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;

    &.right {
        left: auto;
        right: 0px;
    }

    &.bottom {
        top: auto;
        left: auto;
        bottom: 0;
        right: 0;
    }

    &.left {
        top: auto;
        left: 0;
        bottom: 0;
    }

    h1 {
        font-weight: 300;
        font-size: 20px;
        line-height: 1.6;
        border-bottom: 1px dashed #fff;
        display: inline-block;
        margin-bottom: 10px;
        
        a {
            text-decoration: none;
            color: #fff;
        }
    }
    
    p{
        font-weight: 300;
        font-size: 16px;
    }

    li {
        list-style: none;
        display: inline;

        a {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            border: 1px dashed #fff;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 14px;
            margin-bottom: 10px;
            margin-left: 4px;
        }

        &.active {
            a {
                background: #fff;
                color: #000;
            }
        }
    }

    &.list {
        background: rgba(0,0,0,0.4);
        color: #fff;
        padding: 20px;
        font-size: 12px;
        line-height: 1.8;
        border-radius: 10px;
        margin: 20px;

        li {
            display: block;
        }
    }
    
    button {
        background: transparent;
        border: 1px solid #fff;
        padding: 4px 20px 5px;
        color: #fff;
        border-radius: 50px;
        box-shadow: 0 0 0 #fff inset;
        transition: all 0.4s;
        cursor: pointer;
        width: 100px;
        height: 40px;

        &:hover {
            box-shadow: 0 -50px 0 #fff inset;
            color: #000;
        }
    }
}

// .btn-wrap {
//     @include positionCenter;
//     display: none;
//     button {
//         border: 1px solid #fff;
//         padding: 5px 10px;
//         background: #fff;
//         border-radius: 50px;
//         text-transform: uppercase;
//         box-shadow: 0 2px 5px rgba(0,0,0,0.2);
//         cursor: pointer;
//     }
// }
#modal {
    @include fixed;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    transform: scale(0);

    .modal-bg {
        background: rgba(0,0,0,0.6);
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;

        .modal-cont {

            h2 {
                font-weight: 700;
                font-size: 40px;
                margin-bottom: 10px;
            }
    
            p {
                font-weight: 300;
                line-height: 1.6;
            }
    
            button {
                float: right;
                border: 1px solid #fff;
                background: #fff;
                border-radius: 20px;
                color: #000;
                padding: 5px 10px;
                cursor: pointer;
                margin-top: 15px;
                font-family: $font-Nexon2;
                box-shadow: 0 0 0 #000 inset;
                transition: all 0.4s;
    
                &:hover {
                    box-shadow: 0 -50px 0 #000 inset;
                    color: #fff;
                }
            }
        }
    }
}
#modal.show {
	animation: unfoldIn 1s ease forwards;
}
#modal.show.hide {
	animation: unfoldOut 1s ease forwards;
}
@keyframes unfoldOut {
	0% {transform: scaley(1) scalex(1)}
	50% {transform: scaley(0.005) scalex(1)}
	100% {transform: scaley(0.005) scalex(0)}
}
@keyframes unfoldIn {
	0% {transform: scaley(0.005) scalex(0)}
	50% {transform: scaley(0.005) scalex(1)}
	100% {transform: scaley(1) scalex(1)}
}

#modal.show .modal-bg .modal-cont {
	transform: scale(0);
	animation: zoomIn 0.5s 0.8s ease forwards;
}
#modal.show.hide .modal-bg .modal-cont {
	transform: scale(0);
	animation: zoomOut 0.5s ease forwards;
}
@keyframes zoomIn {
	0% {transform: scale(0)}
	100% {transform: scale(1)}
}
@keyframes zoomOut {
	0% {transform: scale(1)}
	100% {transform: scale(0)}
}

//code-view
.code-view {
    background: #fff;
    width: 60vw;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    overflow: hidden;

    .view-header{
        border-bottom: 1px solid #f2f2f2;
        .dot {
            padding: 10px 15px;

            span {
                width: 12px;
                height: 12px; 
                display: inline-block;
                border-radius: 50%; 
                margin: 0 2px;
            }
            span:nth-child(1) {
                background-color: #f56565;
            }
            span:nth-child(2) {
                background-color: #f6e05e;
            }
            span:nth-child(3) {
                background-color: #48bb78;
            }
        }
    }             
    .view-title{
        border-bottom: 1px solid #f2f2f2;
        padding: 0 11px;
        font-family: $font-Nexon2;

        li {
            display: inline;
            list-style: none;

            a {
                text-decoration: none;
                color: #ccc;
                padding: 10px 10px 12px;
                margin: 0 5px;
                display: inline-block;
            }

            &.active a {
                border-top: 2px solid #667EEA;
                color: #4a5568;
            }
        }   
    }
    .view-cont {
        height: 70vh;
        overflow-y: scroll;

        > div {
            display: none;
        }
        > div:nth-child(1).active{
            display: block;
        }
        > div:nth-child(2).active{
            display: block;
        }
        > div:nth-child(3).active{
            display: block;
        }
    }
}


@media(max-width: 800px){
    #contents {
        h1 {
            font-size: 18vw;
            margin-bottom: 0;
        }
    }
    #nav {
        ul {
            display: flex;

            li {
                a {
                    font-size: 12px;
                    width: 60px;
                    height: 30px;
                    line-height: 30px;
                }
            }
        }
    }
    .info {
        &.right {
            left: 0;
            top: 9vh;
        }
        h1 {
            font-size: 18px;
        }
        li a {
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            margin-bottom: 6px;
            margin-left: 0px;
        }
        button {
            width: 90px;
            height: 25px;
            font-size: 12px;
            line-height: 16px;
        }
    } 
    .code-view {
        width: 90vw;
        font-size: 14px;
        padding-bottom: 10px;
        overflow: hidden;
        .view-cont {
            height: 56vh;
            overflow-y: scroll;
            font-size: 12px;
        }
        .view-title {
            li {
                a {
                    font-size: 14px;
                    padding: 10px 10px 12px;
                    margin: 0 5px;
                }
            }   
        }
    }
}

// parallax
.parallax {
    background: #222;
    color: #fff;
    font-family: 'NEXONLv1Gothic';
    position: relative;
}

.paraScroll {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
    color: #fff;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    padding: 0px 20px 2px;
}

.paraInfo2 {
    position: fixed;
    left: 20px;
    bottom: 70px;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
    color: #fff;
    padding: 20px;
    font-size: 12px;
    line-height: 1.8;
    border-radius: 10px;
    
    li {
        list-style: none;
    }
}

.paraNav {
    position: fixed;
    right: 20px; top: 20px;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
    padding: 15px 20px;
    border-radius: 50px;

    li {
        display: inline-block;
        list-style: none;

        a {
            color: #fff;
            text-decoration: none;
            display: inline-block;
            padding: 5px;
            width: 30px; height: 30px;
            text-align: center;
            line-height: 30px;
        }

        &.active a {
            background: #fff;
            color: #000;
            border-radius: 50%;
        }
    }
}

.paraInfo {
    padding: 20px;
    h1 {
        display: inline-block;
        font-size: 20px;
        border-bottom: 1px dashed #fff;
        margin-bottom: 8px;
        font-weight: 400;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
    p {
        font-size: 14px;
        line-height: 1.8;
    }
}
.paraCont {
    width: 100%;
    overflow: hidden;

    .content-item {
        width: 1000px;
        max-width: 70vw;
        // background: rgba(255,255,255,0.3);
        margin: 30vw 0;
        padding-top: 10vw;
        text-align: right;
        position: relative;

        .num {
            font-family: 'Lato';
            font-weight: 100;
            font-size: 25vw;
            opacity: 0.07;
            position: absolute;
            right: -5vw; top: -10vw;
        }
        .title {
            padding-bottom: 10px;
            font-weight: 700;
        }
        .img-Wrap {
            width: 100%;
            padding-bottom: 56%;
            background: #000;
            position: relative;
            overflow: hidden;

            .img {
                position: absolute;
                left: -10%; top: -10%;
                width: 120%;
                height: 120%;
                background-size: cover;
                background-repeat: no-repeat;
                filter: saturate(0%);
                transition: filter 1s;

                &:hover {
                    filter: saturate(100%);
                }
            }

            .img-jq {
                position: absolute;
                left: -10%; top: -10%;
                width: 120%;
                height: 120%;
                background-size: cover;
                background-repeat: no-repeat;
                filter: saturate(0%);
                transition: filter 1s;

                &:hover {
                    filter: saturate(100%);
                }
            }
        }
        .desc {
            font-size: 6vw;
            line-height: 1.4;
            margin-top: -6vw;
            margin-right: -3vw;
            position: relative;
            z-index: 100;
            word-break: keep-all;
            color: #F0F600;
            font-weight: 800;

            &.color2 {
                color: #3185FC;
            }
        }

        &:nth-child(even){
            margin-left: auto;
            text-align: left;

            .num {
                right: auto;
                left: -5vw;
            }

            .desc {
                margin-right: auto;
                margin-left: -3vw;
            }
        }
    }
}
// 자바스크립트 이미지
@for $i from 1 through 9 {
    .content-item {
        &:nth-child(#{$i}){
            .img {
                background-image: url(../img/bg#{$i}.jpg);
            }
        }
    }
}
@for $i from 1 through 9 {
    .content-item {
        &:nth-child(#{$i}){
            .img.img2 {
                background-image: url(../img/bg2#{$i}.jpg);
            }
        }
    }
}
// 제이쿼리 이미지
@for $i from 1 through 9 {
    .content-item {
        &:nth-child(#{$i}){
            .img.img1 {
                background-image: url(../img/bg1#{$i}.jpg);
            }
        }
    }
}
@for $i from 1 through 9 {
    .content-item {
        &:nth-child(#{$i}){
            .img.img3 {
                background-image: url(../img/bg3#{$i}.jpg);
            }
        }
    }
}
.source button {
    position: fixed;
    right: 20px;
    top: 100px;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 20px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);;
    border-radius: 50px;
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
        background: #fff;
        color: #000;
    }
}

.source02 button {
    position: fixed;
    left: 20px;
    bottom: 70px;
    width: 120px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 20px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);;
    border-radius: 50px;
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
        background: #fff;
        color: #000;
    }
}

@media (max-width: 800px){
    .parallax {

        .paraScroll {
            font-size: 10px;
        }

        .paraInfo {
            h1 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
                line-height: 1.2;
            }
        }

        .paraDot {
            padding: 5px 2px;
            ul {
                li {
                    a {
                        font-size: 12px;
                        width: 8px;
                        height: 8px;

                        span {
                            pointer-events: none;
                        }
                    }
                }
            }
        }

        .paraNav {
            padding: 10px 4px 10px 4px;
            ul {
                display: flex;
                align-content: flex-start;
                flex-direction: column;
                flex-wrap: wrap;
                overflow: hidden;
                li {
                    a {
                        font-size: 12px;
                        width: 15px; height: 15px;
                        line-height: 15px;
                        margin-left: 1px;
                    }
                }
            }
            
        }
        .paraInfo2 {
            padding: 10px;

            li {
                font-size: 8px;
            }
        }
        .source button {
            right: 20px;
            top: 93.6%;
        }
        
        .paraFooter {
            .footerInfo {
                h2 {
                    font-size: 15px;
                    white-space: nowrap;
                }
                ul {
                    li {
                        a {
                            font-size: 10px;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}

//paraFooter
.paraFooter {
    padding: 200px 0;

    h1 {
        font-size: 8vw;
        line-height: 1.2;
        padding: 10vw 8vw 0 8vw;
        text-transform: uppercase;
        margin-bottom: 3vw;
    }

    em {
        display: block;
        font-family: ‘Lato’;
        font-weight: 100;
        padding-left: 18vw;
    }

    .footerInfo {
        padding: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000;
        padding: 15px 20px;
        margin-bottom: 2px;

        h2 {
            padding-right: 20px;
        }

        li {
            display: inline;
            list-style: none;

            a {
                color: #fff;
                border: 1px dashed #fff;
                width: 30px; height: 30px;
                display: inline-block;
                border-radius: 50%;
                line-height: 30px;
                text-decoration: none;
                margin-right: 6px;
            }

            &.active a {
                background: #fff;
                color: #000;
            }
        }
    }
}

.paraDot {
    position: fixed;
    right: 20px;
    top: 50%;
    z-index: 1000;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    padding: 20px 10px;
    border-radius: 30px;
}
.paraDot li {
    list-style: none;
}
.paraDot li a {
    width: 20px;
    height: 20px;
    display: block;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 8px;
    position: relative;
    text-decoration: none;
    transition: border-color 0.3s ease;
}
.paraDot li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px #fff;
    opacity: 0;
    transform: scale(3);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}
.paraDot li a:hover,
.paraDot li a:focus {
    border-color: #c44d48;
}
.paraDot li.active a::after {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.paraDot li a span {
    position: absolute;
    left: -105px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    color: #000;
    display: block;
    padding: 2px 15px;
    border-radius: 30px;
    opacity: 0;
}
.paraDot li.active a {
    background: #fff;
}
.paraDot li.active a span {
    opacity: 1;
}