body {
    position: relative;
}
/* header */
#header {
    width: 100%;
    background: transparent;
    position: relative;
    z-index: 10000;
    border-bottom: 1px solid rgba(0,0,0,.9);
    background-color: rgba(0,0,0,.5);
}
#header .header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    line-height: 150px;
}
#header .header .header_left {}
#header .header .header_left h2 {
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    color: #fff;
}
#header .header .header_left h2 span {
    display: block;
}
#header .header .nav {}
#header .header .nav ul {
    display: flex;
}
#header .header .nav ul li {}
#header .header .nav ul li a {
    font-size: 25px;
    margin-right: 100px;
    color: #fff;
}
#header .header .header_right {}
#header .header .header_right a {
    font-size: 20px;
    margin-right: 20px;
    color: #fff;
}
#header .header .header_right a:last-child {
    margin-right: 0;
}

/* banner */
/* 슬라이드 */
#banner {}
.swiper {
    width: 100%;
    height: 870px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.swiper .ss1 {
    background: url('../img/sek1.jpg') no-repeat center center;
    background-size: cover;
}
.swiper .ss2 {
    background: url('../img/sek2.jpg') no-repeat center center;
    background-size: cover;
}
.swiper .ss3{
    background: url('../img/sek1.jpg') no-repeat center center;
    background-size: cover;
}
.swiper .ss4{
    background: url('../img/sek2.jpg') no-repeat center center;
    background-size: cover;
}
.swiper-slide {
    position: relative;
}
.swiper .swiper-slide .banner {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
}
.swiper .swiper-slide .banner h2 {
    font-size: 80px;
    line-height: 100px;
    color: #fff;
    margin-top: 200px;
    position: relative;
    display: inline-block;
}
.swiper .swiper-slide .banner h2::after {
    content: '';
    width: 100%;
    height: 2px;
    background: rgba(255,255,255,0.3);
    position: absolute;
    left: 0;
    bottom: -35px;
}
.swiper .swiper-slide p {
    font-size: 32px;
    color: #fff;
    padding-top: 55px;
}
/* section */
#section {
    margin-top: 716px;
    background: rgba(0, 0, 0, 0.089);
}
.section {
    padding: 150px 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section_left {
    width: 48%;
    height: 460px;
}
.section_left h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 35px;
}
.section_left #video {
    border-radius: 50px;
}
.section_right {
    width: 48%;
    height: 460px;
}
.section_right h3 {
    text-align: center;
    font-size: 30px;
}
.section_right .section_right_info2 {
    margin-top: 35px;
    width: 100%;
    height: 375px;
    background: #000;
    border-radius: 50px;
    text-align: center;
}
.section_right .slider {
    width: 100%;
    height: 375px;
}
.swiper-container2 {
    border-radius: 50px;
}
.section_right .slider .ll1 {
    background: url('../img/sek1.jpg') no-repeat center center;
    background-size: cover;
}
.section_right .slider .ll2 {
    background: url('../img/sek2.jpg') no-repeat center center;
    background-size: cover;
}
.section_right .slider .ll3{
    background: url('../img/img06.jpg') no-repeat center center;
    background-size: cover;
}
.section_right .slider .ll4 {
    background: url('../img/img07.jpg') no-repeat center center;
    background-size: cover;
}
.section_right .slider .ll5 {
    background: url('../img/img08.jpg') no-repeat center center;
    background-size: cover;
}
.section_right .slider .ll6{
    background: url('../img/img09.jpg') no-repeat center center;
    background-size: cover;
}
.section_right .slider .ll7{
    background: url('../img/img10.jpg') no-repeat center center;
    background-size: cover;
}
.section_right .slider .ll8 {
    background: url('../img/sek2.jpg') no-repeat center center;
    background-size: cover;
}
.section_right .slider .ll9{
    background: url('../img/sek1.jpg') no-repeat center center;
    background-size: cover;
}
.section_right .slider .ll10{
    background: url('../img/img08.jpg') no-repeat center center;
    background-size: cover;
}

.section2_right {
    background: #ddd;
    padding: 150px;
    overflow: hidden;
}
.section2_right h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 150px;
}
.section2_right .section2_right_info {
    text-align: center;
    position: relative;
}
.section2_right .section2_right_info .icon > li {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    float: left;
    margin: 0 200px 0 0;
    position: absolute;
    left: 145px;
    top: -70px;
}
.section2_right .section2_right_info .icon > li:nth-child(2) {
    left: 470px;
    top: -70px;
}
.section2_right .section2_right_info .icon > li:nth-child(3) {
    left: 835px;
    top: -70px;
}
.section2_right .section2_right_info .icon > li:last-child {
    left: 1200px;
    top: -70px;
}
.section2_right .section2_right_info .icon > li a {
    color: #fff;
    line-height: 50px;
    display: inline-block;
    align-items: center;
    text-align: center;
}
.section2_right .section2_right_info .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    clear: both;
}
.section2_right .section2_right_info .info li {}
.section2_right .section2_right_info .info li a {
    text-align: center;
    display: inline-block;
    margin: 0 20px;
    font-size: 30px;
}
.section2_right .section2_right_info .info li a p {
    display: block;
    font-size: 18px;
    word-break: keep-all;
    margin-top: 10px;
}

/* footer */


/* container */
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}