body {
    background: #f3f3f3;
}
.imageType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

/* imageType01 */
.imageType01 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}
.imageType01 h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 36px;
}

.imageType01 .image-wrap {
    overflow: hidden;
}
.imageType01 .image {
    position: relative;
    float: left;
    width: 590px;
    height: 385px;
}
.imageType01 .image:first-child {
    margin-right: 20px;
}
.imageType01 .image .image-img {}
.imageType01 .image .image-cont {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #fff;
}
.imageType01 .image .image-cont.st1 {
    background: rgba(0, 0, 0, 0.438);
    width: 400px;
    padding: 20px;
}
.imageType01 .image .image-cont.st1 .image-desc {
    padding-right: 0;
}
.imageType01 .image .image-cont.st1 .image-btn {
    padding: 0;
    border-radius: 1px solid #fff;
}
.imageType01 .image .image-cont.st1 .image-btn.red {
    padding: 12px 18px 8px 18px;
    background-color: #rgba(0, 0, 0, 0.438);
}

.imageType01 .image .image-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 6px;
}
.imageType01 .image .image-desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    padding-right: 30%;
    word-wrap: keep-all;
}
.imageType01 .image .image-btn {
    padding: 12px 18px 8px 18px;
    display: inline-block;
    background-color: #777;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
}
.imageType01 .image .image-btn.red {
    background-color: rgba(0, 0, 0, 0.438);
}
.imageType01 .image .image-btn.yellow {
    background-color: rgba(0, 0, 0, 0.438);
}
















/* imageType02 */
.imageType02 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}
.imageType02 h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 36px;
}
.imageType02 .image-wrap {
    display: flex;
    justify-content: space-between;
}
.imageType02 .image{
    width: 386px;
    position: relative;
    perspective: 800px;
}
.imageType02 .image::after {
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    /* 기준점에 이미 포지션이 있으면 기준점을 안줘도 잡힘 */
    left: 30px; top: 30px; right: 30px; bottom: 30px;
    opacity: 0;
    transform: rotateX(-90deg);
    transition: all 0.4s ease-in-out;
}
.imageType02 .image:hover::after {
    opacity: 0.9;
    transform: rotateX(0deg);
} 
.imageType02 .image .image-img {}
.imageType02 .image .image-cont {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    text-align: center;
    opacity: 0;
    transform: translate(-50%, 50%);
    z-index: 1000;
    transition: all 0.3s ease-out;
}
.imageType02 .image:hover .image-cont {
    opacity: 1;
    transform: translate(-50%, -60%);
}
.imageType02 .image .image-title {
    font-size: 30px;
    font-weight: 500;
    color: #000;
}
.imageType02 .image .image-btn {
    color: #fff;
    font-size: 14px;
    padding: 7px 24px 5px 24px;
    background: #000;
    border-radius: 40px;
    font-weight: 300;
    margin-top: 5px;
    display: inline-block;
}





