body {
    background: rgba(0,0,0,0.5);
    font-family: "NanumSquare";
    background: url(../img/test02.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#header {
    background: #000;
}
.container-slider {
    width: 1200px;
    margin: 0 auto;
}
.container-slider .header {
    width: 100%;
    height: 100px;
    background: #000;
}
.header .header-wrap {
    display: flex;
    justify-content: space-between;
}
.header .header-wrap .logo {
    display: flex;
    margin-top: 32px;
}
.header .header-wrap .logo img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.header .header-wrap .logo h1 {
    font-size: 15px;
    line-height: 1.15;
}
.header .header-wrap .logo h1 a {
    color: #fff;
}
.header .header-wrap .menu {
    margin: 0 30px;
    margin-top: 35px;
}
.header .header-wrap .menu li {
    display: inline-block;
}
.header .header-wrap .menu li a {
    margin: 0 15px;
    font-size: 12px;
    color: #fff;
}
.header .header-wrap .help-box {
    display: flex;
}
.header .header-wrap .help {
    margin-top: 35px;
}
.header .header-wrap .help a {
    color: #fff;
    font-size: 8px;
}
.header .header-wrap .help-box .help a:first-child {
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 5px 10px;
    margin-right: 15px;
}
.header .header-wrap .help-box .help1 a {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 32px;
}


/* section */
.section {
    width: 1000px;
    margin: 0 auto;
}
.test01-slider {}
.test01-slider .card-wrap {
    color: #fff;
}
.test01-slider .card {
    margin: 50px 0;
}
.test01-slider .card h2 {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 20px;
    font-weight: 800;
}
.test01-slider .card strong {
    font-size: 20px;
    font-weight: 800;
}
.test01-slider .card p {
    margin-top: 20px;
    font-weight: 400;
    display: block;
    margin-bottom: 80px;
}

/* swiper */
.swiper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.swiper-wrapper {}
.swiper-wrapper .swiper-slide {
    border-radius: 20px;
    height: 410px;
}
.swiper-wrapper .swiper-slide:nth-child(1) {
    background-image: url(../img/test-slider01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(2) {
    background-image: url(../img/test-slider02.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(3) {
    background-image: url(../img/test-slider03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(4) {
    background-image: url(../img/test-slider04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(5) {
    background-image: url(../img/test-slider05.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(6) {
    background-image: url(../img/test-slider06.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(7) {
    background-image: url(../img/test-slider01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(8) {
    background-image: url(../img/test-slider02.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(9) {
    background-image: url(../img/test-slider03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(10) {
    background-image: url(../img/test-slider04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-slide .slider-inner {
    width: 1100px;
    margin: 0 auto;
    color: #fff;
}
.swiper-slide .slider-inner em {
    font-style: 10px;
    display: block;
    padding-top: 35px;
    margin-bottom: 10px;
    line-height: 19px;
}
.swiper-slide .slider-inner h3 {
    font-size: 35px;
    line-height: 50px;
    letter-spacing: -.6px;
    margin-bottom: 20px;
}
.swiper-slide .slider-inner p {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -.2px;
    color: #fff;
}
.swiper-pagination {
    position: absolute;
    left: -20% !important;
    bottom: 50px;
    transform: translateX(-50%);
    margin-bottom: 100px;
}
.swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 6px;
    box-sizing: border-box;
    opacity: 1;
    background-color: rgba(0,0,0,0.4);
}
.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fff;
}
.swiper-button-prev {
    width: 21px;
    height: 41px;
    display: block;
    position: absolute;
    top: 71% !important;
    left: 23% !important;
    transform: translateY(-50%);
    color: #fff !important;
    background: #000;
}
.swiper-button-next {
    width: 21px;
    height: 41px;
    display: block;
    position: absolute;
    top: 71% !important;
    right: 12.4% !important;
    transform: translateY(-50%);
    color: #fff !important;
    background: #000;
}


/* cont2 */
.cont2-container {
    width: 100%;
    background: #222;
    margin: 0 auto;
}
.cont2 {
    color: #fff;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,580px);
    justify-content: space-between;
    margin-bottom: 20px;
}
.cont2-card .card-1 {}
.cont2-card .card-1 h2 {
    font-size: 60px;
    color: #6d8bff;
    font-weight: 800;
    margin-bottom: 50px;
}
.cont2-card .card-2 {
    background: #000;
    border-radius: 20px;
    padding: 20px;
}
.cont2-card .card-2 img {
    height: 593px;
    margin-left: 40px;
}
.cont2-card .card-3 {
    background: #000;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px;
}
.cont2-card .card-3 p {
    margin-bottom: 50px;
}
.cont2-card .card-3 img {
    height: 294px;
    margin-left: 60px;
}
.cont2-card .card-4 {
    background: #000;
    border-radius: 20px;
    padding: 20px;
}
.cont2-card .card-4 p {
    margin-bottom: 74px;
}
.cont2-card .card-4 img {
    height: 294px;
    margin-left: 150px;
}
.cont3 {
    color:#5cf0c6;
}
.cont3 .cont3-1 h2 {
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
}
.cont3 .cont3-2 {
    height: 466px;
    display: grid;
    grid-template-columns: repeat(2, 580px);
    justify-content: space-between;
    margin-bottom: 40px;
    position: relative;
}
.cont3 .cont3-2 .card-4 {
    color: #fff;
    background: #53C99D;
    border-radius: 20px;
    padding: 40px 0 0 40px;
}
.cont3 .cont3-2 .card-4 img {
    width: 496px;
    height: 205px;
    position: absolute;
    right: 51.6%;
    bottom: 0;
}
.cont3 .cont3-2 .card-5 {
    color: #fff;
    background: #5276F6;
    border-radius: 20px;
    padding: 40px 0 0 40px;
}
.cont3 .cont3-2 .card-5 img {
    width: 496px;
    height: 265px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.cont3 .cont3-3 {
    margin-bottom: 50px;
    position: relative;
}
.cont3 .cont3-3 .card-6 {
    height: 328px;
    color: #fff;
    background: #534AB7;
    border-radius: 20px;
    padding: 40px 0 0 40px;
}
.cont3 .cont3-3 .card-6 img {
    width: 609px;
    height: 237px;
    position: absolute;
    right: 0;
    bottom: -7%;
}