@charset "UTF-8";
@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-style: normal;
}

/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.bg {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.bg1 {
  background-image: url(../img/bg1@2.jpg);
}

.bg2 {
  background-image: url(../img/bg2@2.jpg);
}

.bg3 {
  background-image: url(../img/bg3@2.jpg);
}

.bg4 {
  background-image: url(../img/bg4@2.jpg);
}

.bg5 {
  background-image: url(../img/bg5@2.jpg);
}

.bg6 {
  background-image: url(../img/bg6@2.jpg);
}

.bg7 {
  background-image: url(../img/bg7@2.jpg);
}

.bg8 {
  background-image: url(../img/bg8@2.jpg);
}

.bg9 {
  background-image: url(../img/bg9@2.jpg);
}

.bg10 {
  background-image: url(../img/bg10@2.jpg);
}

#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #11e8bb;
  background: -webkit-gradient(linear, left top, left bottom, from(#11e8bb), to(#8200c9));
  background: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%);
}

#main.menu {
  background: -webkit-gradient(linear, left bottom, left top, from(#b8cbb8), color-stop(0%, #b8cbb8), color-stop(0%, #b465da), color-stop(33%, #cf6cc9), color-stop(66%, #ee609c), to(#ee609c));
  background: linear-gradient(to top, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

#main.menu #contents a {
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a03136), to(#2400f0));
  background-image: linear-gradient(to top, #a03136 0%, #2400f0 100%);
}

#main.mouse {
  background: -webkit-gradient(linear, left bottom, left top, from(#c71d6f), to(#d09693));
  background: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
}

#main.mouse #contents a {
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#800006), to(#e2cb00));
  background-image: linear-gradient(to top, #800006 0%, #e2cb00 100%);
}

#main.slider {
  background: -webkit-gradient(linear, left bottom, left top, from(#00dbde), to(#fc00ff));
  background: linear-gradient(to top, #00dbde 0%, #fc00ff 100%);
}

#main.slider #contents a {
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f43b47), to(#453a94));
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}

#main.parallax {
  background: -webkit-gradient(linear, left bottom, left top, from(#cc208e), to(#6713d2));
  background: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
}

#main.parallax #contents a {
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0250c5), to(#1f0412));
  background-image: linear-gradient(to top, #0250c5 0%, #1f0412 100%);
}

#main.game {
  background: -webkit-gradient(linear, left top, left bottom, from(#231557), color-stop(29%, #44107A), color-stop(88%, #FF1361), to(#fff700dc));
  background: linear-gradient(to bottom, #231557 0%, #44107A 29%, #FF1361 88%, #fff700dc 100%);
}

#main.game #contents a {
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#232526), to(#414345));
  background-image: linear-gradient(to bottom, #232526 0%, #414345 100%);
}

#contents h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 10vw;
  white-space: nowrap;
  font-family: "Six Caps", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8200c9), to(#33004e));
  background-image: linear-gradient(to bottom, #8200c9, #33004e);
}

#nav {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 10px;
  top: auto;
}

#nav li {
  list-style: none;
  display: inline;
}

#nav li a {
  color: #fff;
  text-decoration: none;
  width: 100px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  margin: 4px;
  font-family: "NEXONLv1Gothic";
  -webkit-box-shadow: inset 0 0 0 #fff;
          box-shadow: inset 0 0 0 #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#nav li a:hover {
  -webkit-box-shadow: inset 0 -100px 0 #fff;
          box-shadow: inset 0 -100px 0 #fff;
  color: #6c4a70;
}

.info {
  color: #fff;
  font-family: "NEXONLv1Gothic";
  padding: 20px;
}

.info.right {
  position: absolute;
  right: 0px;
  top: 0px;
}

.info.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.info h1 {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  border-bottom: 1px dashed #fff;
  display: inline-block;
  margin-bottom: 10px;
}

.info p {
  font-weight: 300;
  font-size: 16px;
}

.info li {
  list-style: none;
  display: inline;
}

.info li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px dashed #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
}

.info li.active a {
  background: #fff;
  color: #000;
}

.info button {
  background: transparent;
  border: 1px solid #fff;
  padding: 5px 20px;
  color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 0 #fff inset;
          box-shadow: 0 0 0 #fff inset;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.info button:hover {
  -webkit-box-shadow: 0 -50px 0 #fff inset;
          box-shadow: 0 -50px 0 #fff inset;
  cursor: pointer;
  color: #000;
}

.btn-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.btn-wrap button {
  border: 1px solid #fff;
  padding: 5px 10px;
  background: #fff;
  border-radius: 50px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#modal .modal-bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#modal .modal-cont {
  background: #fff;
  padding: 3vw;
  max-width: 50vw;
}

#modal .modal-cont h2 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}

#modal .modal-cont p {
  font-weight: 300;
  line-height: 1.6;
}

#modal .modal-cont button {
  float: right;
  border: 1px solid #000;
  background: #000;
  border-radius: 20px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

#modal.show {
  -webkit-animation: unfoldIn 1s ease forwards;
          animation: unfoldIn 1s ease forwards;
}

#modal.show.hide {
  -webkit-animation: unfoldOut 1s ease forwards;
          animation: unfoldOut 1s ease forwards;
}

@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaley(1) scalex(1);
            transform: scaley(1) scalex(1);
  }
  50% {
    -webkit-transform: scaley(0.005) scalex(1);
            transform: scaley(0.005) scalex(1);
  }
  100% {
    -webkit-transform: scaley(0.005) scalex(0);
            transform: scaley(0.005) scalex(0);
  }
}

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaley(1) scalex(1);
            transform: scaley(1) scalex(1);
  }
  50% {
    -webkit-transform: scaley(0.005) scalex(1);
            transform: scaley(0.005) scalex(1);
  }
  100% {
    -webkit-transform: scaley(0.005) scalex(0);
            transform: scaley(0.005) scalex(0);
  }
}

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaley(0.005) scalex(0);
            transform: scaley(0.005) scalex(0);
  }
  50% {
    -webkit-transform: scaley(0.005) scalex(1);
            transform: scaley(0.005) scalex(1);
  }
  100% {
    -webkit-transform: scaley(1) scalex(1);
            transform: scaley(1) scalex(1);
  }
}

#modal.show .modal-bg .modal-cont {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s ease forwards;
          animation: zoomIn 0.5s 0.8s ease forwards;
}

#modal.show.hide .modal-bg .modal-cont {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomOut 0.5s ease forwards;
          animation: zoomOut 0.5s ease forwards;
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 800px) {
  #contents h1 {
    font-size: 18vw;
  }
  #nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (70px)[5];
        grid-template-columns: repeat(5, 70px);
    gap: 10px;
  }
  #nav ul li a {
    font-size: 12px;
    width: 65px;
    height: 30px;
    line-height: 2.5;
  }
  #modal {
    position: absolute;
    left: 0;
    top: 0;
  }
  #modal .modal-cont {
    padding: 20px;
  }
  #modal .modal-cont h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  #modal .modal-cont p {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
