// #mainCont
// #aboutCont
// #referCont
// #youtubeCont
// #scriptCont
// #portCont

.cursor {
    position: absolute;
    width: 20px; 
    height: 20px;
    background: rgb(121, 19, 19);
    border-radius: 50%;
    z-index: 10000;
    user-select: none;
    pointer-events: none;
}

// mainCont
#mainCont {
    background-color: #000;
    height: 100vh;
    color: #fff;
    font-family: $font-main;
    font-size: 9vw;
    line-height: .91;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    br {
        display: none;
    }
}
#mainCont2 {
    width: 100%;
    background-color: #000;
    height: 100vh;
    font-size: 9vw;
    line-height: 1.2;
    color: #000;
    position: relative;
    z-index: -2;
    font-family: $font-main2;
    font-weight: 400;
    font-style: italic;
    overflow: hidden;

    .textWrap {
        width: 100%;
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);

        .line {
            width: 100%;
            display: flex;
        
            .left {
                width: 50vw;
                color: #fff;

                .spanWrap {
                    width: 100vw;
                    text-align: center;

                    span {
                        display: inline-block;
                    }
                }
            }

            .right {
                width: 50vw;
                overflow: hidden;

                .spanWrap {
                    width: 100vw;
                    text-align: center;
                    transform: translateX(-50vw);

                    span {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .imgWrap {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(1%, -50%);
        width: 50%;
        z-index: -1;

        img {
            width: 51%;
            height: 100%;
        }
    }
}

//aboutCont
#aboutCont {
    padding-top: 68px;
    font-family: $font-main;

    .container {
        max-width: 1273px;
        margin: 0 auto;
        
        .row {

            #section {
                width: 100%;
    
                h2 {
                    font-size: 12vw;
                    margin-top: 174px;
                    line-height: .9;
                }
    
                .cont1__box {
                    margin-top: 270px;
    
                    .imgbox {
                        width: 100%;
    
                        img {
                            width: 100%;
                        }
                    }
    
                    .textbox {
                        margin-top: 62px;
                        font-size: 1.11vw;
                        font-family: $font-kor1;
                        width: 70%;
                        
                        .desc1 {
                            margin-bottom: 30px;
                        }
    
                        .desc2 {
                            line-height: 1.6;
                        }
                    }
                }
    
                .cont2__box {
                    padding-top: 314px;
                    display: flex;
                    justify-content: space-between;
    
                    .imgbox {
                        flex: 0 0 60%;
    
                        img {
                            width: 100%;
                        }
                    }
    
                    .textbox {
                        flex: 0 0 36%;
                        font-size: 1.11vw;
                        font-family: $font-kor1;
                        
                        .desc1 {
                            margin-bottom: 30px;
                        }
    
                        .desc2 {
                            line-height: 1.6;
                        }
                    }
                }
    
                .cont3__box {
                    padding-top: 372px;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 496px;
    
                    .imgbox {
                        flex: 0 0 60%;
    
                        img {
                            width: 100%;
                        }
                    }
    
                    .textbox {
                        flex: 0 0 36%;
                        font-size: 1.11vw;
                        font-family: $font-kor1;
                        
                        .desc1 {
                            margin-bottom: 30px;
                        }
    
                        .desc2 {
                            line-height: 1.6;
                        }
                    }
                }
            }
        }
    }

    // #footer {
    //     width: 100%;
    //     height: 100vh;
    //     background: #000;
    //     position: relative;

    //     .footer {
    //         position: absolute;
    //         left: 50%; top: 50%;
    //         transform: translate(-50%, -50%);
    //         color: #fff;
    //         width: 100%;

    //         p {
    //             font-size: 1vw;
    //         }
    //         h2 {
    //             font-size: 8.6vw;
    //             font-family: $font-main;
    //             line-height: 132px;
    //             margin: 72px 0;
    //         }
    //         span {
    //             display: inline-block;

    //             a {
    //                 display: inline-block;
    //                 font-size: 1.1vw;
    //                 border: 1px solid #fff;
    //                 padding: 10px 30px;
    //                 border-radius: 50px;
    //             }
    //         }
    //     }
    // }
}
@media (max-width: 1100px){
    #aboutCont {
        .container {
            .row {
                padding: 0 20px;
                margin: 0 auto;
                #section {
                    .cont1__box {
                        .textbox {
                            font-size: 2vw;
                            width: 100%;
                        }
                    }
                    .cont2__box {
                        display: block;
    
                        .textbox {
                            margin-top: 62px;
                            font-size: 2vw;
                        }
                    }
                    .cont3__box {
                        display: flex;
                        flex-direction: column-reverse;
                        padding-bottom: 150px;
    
                        .textbox {
                            margin-top: 62px;
                            font-size: 2vw;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 800px){
    #aboutCont {
        .container {
            .row {
                padding: 0 20px;
                margin: 0 auto;
                #section {
                    h2 {
                        margin-top: 100px;
                        text-align: center;

                        br {
                            display: none;
                        }
                    }
                    .cont1__box {
                        margin-top: 150px;
                    }
                    .cont2__box {
                        padding-top: 150px;
                    }
                    .cont3__box {
                        padding-top: 150px;
                    }
                }
            }
        }
    }
}