/* 티스토리용 문서 */
.document i {
  font-style: normal;
  position: relative;
}

.document i::before {
  content: '';
  background-color: #0242f136;
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 20px;
}

.document hr {
  border: 0;
  border-top: 1px dashed #dcdcdc;
  margin: 45px 0;
}

.document .divider {
  border: 0;
  border-top: 1px dashed #dcdcdc;
  margin: 45px 0;
}

.document .t_tit {
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 5px;
  font-weight: 400;
}

.document .t_tit2 {
  font-size: 22px;
  line-height: 1.6;
  margin-top: 50px;
  margin-bottom: 5px;
  font-weight: 400;
}

.document .t_tit3 {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 400;
}

.document .t_desc {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 10px !important;
}

.document .t_desc2 {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 10px !important;
  padding: 15px 20px !important;
  padding-left: 20px;
  border-left: 4px solid #CC4D58;
  background-color: #f9f9f9;
}

.document .t_box {
  padding: 20px !important;
  background-color: #f9f9f9;
  margin-bottom: 30px;
  color: #666;
  border-radius: 5px;
}

.document .t_box2 {
  padding-bottom: 15px;
}

.document .t_table {
  border: 1px solid #dcdcdc;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.document .t_table tr th {
  background-color: #f5f5f5;
}

.document .t_table tr th,
.document .t_table tr td {
  border: 1px solid #dcdcdc;
  font-weight: normal;
  padding: 8px 10px;
  color: #666;
}

.document .t_table .ce {
  text-align: center;
}

.document .t_iframe {
  position: relative;
  padding-top: 56%;
  /* 16:9 비율 */
  width: 100%;
  height: 0;
}

.document .t_iframe iframe {
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.document .t_link a {
  display: block;
  width: 200px;
  background: #f5f5f5;
  margin: 40px auto;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  transition: all 0.3s;
}

.document .t_link a:hover {
  background-color: #d6d6d6;
}

.document .t_result {
  background-color: #f7f7f7;
  padding: 10px;
}
